<%- include('partials/header'); -%>
<h2 class="text-center text-muted display-5 pt-3">Dont know how to cook! Don't worry we got you. Checkout the Most Viewed Recipes</h2>
<% popularRecipes.forEach((recipe, index) => { %>
    <div class="d-flex justify-content-center flex-column align-items-center">
        <h2 class="title text-center"><%= recipe.name %></h2>
        <div class="text-center">
            <p><%= recipe.content.slice(0,250) %>...<a href="/recipe/<%= recipe.name %>/<%= recipe._id %>">Read More</a></p>
        </div>
    </div>          
<% }); %>
<%- include('partials/footer'); -%>
